.datePicker :not(.modal-container .modal-body){
    padding:0;
}
.datePicker .react-datepicker__input-container input{
    width:100px;
    text-align: center;
}
/* .react-datepicker{
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 0.8rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
} */