.addBtn{
    position: fixed;
    bottom:7vh;
    right:25px;
}

.modal{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
  }
  
  .modal-container{
    width:440px;
    height: 560px;
    background: #FCFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding:40px;
    position: fixed;
    top:0; bottom:0; left:0; right:0;
    margin: auto;
  }