@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    margin:0; padding:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color:#000;
  }
body{
  overflow-y:scroll;
  padding-top:60px;
}
  
  ul{
    list-style: none;
  }
  
  .container{
    max-width: 85%;
    margin:0px auto;
  }
  
  .header{
    z-index: 1;
    width:100%;
    height:60px;
    display: flex;
    align-items: center;
    padding: 15px 7.5%;
    border-bottom: 1px solid #000;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: rgba(255,255,255);
  }
  
  .header .title{
    color:#000;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: auto;
    cursor: pointer;
  }

  .header .title .logoImg{
    display: block;
    height:56px;
    margin: 0px auto;
  }
  
  .header .navbar li{
    float: left;
    padding:6px 25px;
    font-size:1em;
    color:rgba(0,0,0, 75%);
  }
  .header .navbar .search-btn{
    cursor: pointer;
  }
  .header .navbar .archive{
    border: 1px solid rgba(0,0,0, 75%);
    font-weight: bold;
    padding:5px 15px;
    border-radius: 8px;
  }

  .header #search-box{
    width:20rem;
    border:none;
    border-bottom: 0.6px solid #1f1f1f;
    margin:0 auto;
  }

  .container .category{
    display:flex;
    align-items: center;
    margin: 1%;
    padding: 10px 0 4px 0;
  }
  
  .container .category .list-style{
    cursor: pointer;
  }
  
  .container .category .category-list{
    width:100%;
    margin-left:2.5%;
  }
  
  .container .category .category-list ul{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
  }
  
  .container .category .category-list li{
    padding:0 4px;
    float:left;
    cursor: pointer;
  }
  
  .container .category .category-list ul :hover{
    border-bottom: 1px solid #000;
    margin-bottom: -1px;
  }

  .container .category .category-list li.active{
    border-bottom: 1px solid #000;
    margin-bottom: -1px;
  }

  .container .category .org-category-list{
    width:100%;
    margin-left:2.5%;
  }

  .container .category .org-category-list ul{
    display:flex;
    justify-content:flex-end;
    flex-wrap:wrap;
  }
  
  .container .category .org-category-list ul :hover{
    border-bottom: 1px solid #000;
    margin-bottom: -1px;
  }

  .container .category .org-category-list li{
    padding:0 15px;
    float:left;
  }

  .container .category .org-category-list li.active{
    border-bottom: 1px solid #000;
    margin-bottom: -1px;
  }

  @media (max-width:430px) {
    .header .title{
      font-size: 14px;
    }

    .header .title .logoImg{
      height:32px;
    }

    .header .navbar .archive{
      padding:4px 10px;
      border-radius: 6px;
    }

    .header .navbar li{
      padding:6px 15px;
      font-size: 12px;
    }

    .header #search-box{
      width:5rem;
    }
  
    .container .category .category-list li{
      font-size: 12px;
    }

    .container .category .org-category-list li{
      font-size: 12px;
    }
  }