@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

.container .image-container{
  columns:3 250px;
  gap:15px;
}

.container .image-container img{
  border-radius: 5px;
  width: 100%;
}

.container .image-container .imageWrap{
  width:100%;
  margin-bottom:10px;
  position: relative;
}

.container .image-container .imageWrap .imageWrapScreen:hover .eventTitle{
  opacity: 1;
  background-color: #1f1f1f;
}
.container .image-container .imageWrap .imageWrapScreen:hover .eventInfo{
  opacity: 1;
  background-color: #1f1f1f;
}

.container .image-container .imageWrap .eventTitle{
  position: absolute;
  /* display: flex;
  align-items: center; */
  font-size:1.2rem;
  font-weight: bold;
  padding:10px 15px;
  top:0;
  color:#fff;
  border-bottom: 1px solid #fff;
  width:100%;
  height:40%;
  opacity: 0;
}

.container .image-container .imageWrap .eventInfo{
  position: absolute;
  display:flex;
  font-size: 0.9rem;
  padding:25px 20px;
  width:100%;
  height:60%;
  left:0;
  bottom:0;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
}
.container .image-container .imageWrap .eventInfo div{
  color:#fff;
}


.modal{
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

.modal-container{
  width:440px;
  height: 560px;
  background: #FCFCFC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding:30px;
  position: fixed;
  top:0; bottom:0; left:0; right:0;
  margin: auto;
}

.modal-container .modal-header{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-bottom:30px;
}

.modal-container .modal-body div {
  padding:10px;
}

.modal-container .modal-body div .datePicker{
  display:flex;
  flex-direction: column;
}
.modal-container .modal-body span{
  font-size: 16px;
  font-weight: bold;
}
.modal-container .modal-body input{
  float:right;
  width:240px;
  border: none;
  border-bottom: 1px solid rgba(24, 25, 25, 0.38);
  line-height: 25px;
}
.modal-container .modal-body select{
  float:right;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.modal-container .modal-body .sendBtn{
  float:none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width:60px;
  height:40px;
  background-color: #DBF0FF;
  border-radius: 5px;
}

.modal-container .modal-body .categoryTitle{
  display:block;
  padding-bottom: 6px;
}

.modal-container .modal-body .categorys{
  display: inline-block;
  padding:0;
}
.modal-container .modal-body .categorys .categoryList{
  border: none;
  background-color: #fff;
  padding:4px;
  float: right;
}
.modal-container .modal-body .categorys .categoryListSelect{
  border: none;
  padding:2px;
  margin:2px;
  float: right;
  background-color: #DBF0FF;
}
.modal-container #remove-btn{
  float:right;
  cursor: pointer;
}

.message-container{
  width:440px;
  height: 200px;
  background: #FCFCFC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: fixed;
  top:0; bottom:0; left:0; right:0;
  margin: auto;
}

.message-container .message-body{
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  line-height: 28px;
}

.message-container .message-body .sendBtn{
  float:none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
  width:60px;
  height:40px;
  background-color: #DBF0FF;
  border-radius: 5px;
}

.addBtn{
  position: fixed;
  bottom:7vh;
  right:25px;
}

.writeBtn{
  position: fixed;
  bottom:7vh;
  right:25px;
  cursor: pointer;
}


@media (max-width:430px) {
  .modal-container{
    width:340px;
    height: 460px;
    padding:30px; 
  }
  .modal-container .modal-header{
    font-size: 16px;
    padding-bottom:25px;
  }
  .modal-container .modal-body input{
    width:150px;
  }
  .modal-container .modal-body div {
    padding:10px;
  }
  .modal-container .modal-body span{
    font-size: 14px;
  }
  .modal-container .modal-body input{
    line-height: 20px;
  }
  .modal-container .modal-body .sendBtn{
    margin: 25px auto;
    width:55px;
    height:35px;
  }
  .addBtn{
    bottom:5vh;
  }
  .writeBtn{
    bottom:5vh;
  }
}